/* I imported this from the test.html file, it doesn't seem to work, I am not sure what you want to do with these styles but you can now put them in this file! */

/* ul.list li{
    backgroundcolor:red; 
}
ul.list li.selected{
     backgroundcolor:blue; 
} */